---
---

<header class="hidden md:flex h-28 justify-center items-center">
  <nav class="border shadow-lg rounded-full px-5 py-2">
    <ul class="menu-wrapper flex space-x-4">
      <li>
        <a href="/" class="block px-6 py-4 rounded-full hover:bg-slate-50"
          >Home</a
        >
      </li>
      <li>
        <a href="#" class="block px-6 py-4 rounded-full hover:bg-slate-50"
          >Technology</a
        >
      </li>
      <li>
        <a href="#" class="block px-6 py-4 rounded-full hover:bg-slate-50"
          >Work</a
        >
      </li>
      <li>
        <a href="#" class="block px-6 py-4 rounded-full hover:bg-slate-50"
          >Contact</a
        >
      </li>
      <li>
        <a href="#" class="block px-6 py-4 rounded-full hover:bg-slate-50"
          >LinkedIn</a
        >
      </li>
    </ul>
  </nav>
</header>
