---
---

<section class="hero pt-16 md:pt-20 flex flex-col items-center">
  <h1 class="text-center text-5xl md:text-[80px] font-bold">
    Bartek Mazur <br />Front-end Developer
  </h1>
  <h2 class="hidden md:block text-2xl font-bold my-14">
    Write code. Ignite innovation. Create experiences.
  </h2>
  <img
    src="/assets/hero-img-800w.png"
    alt="picture of Bartek Mazur"
    class="hidden md:block mt-20"
    loading="lazy"
  />
  <img
    src="/assets/hero-img-480w.png"
    alt="picture of Bartek Mazur"
    class="md:hidden mt-20"
    loading="lazy"
  />
</section>
