---
---

<section class="flex flex-col items-center pt-16 md:pt-20">
  <h1 class="text-center text-5xl font-bold md:text-[80px]">
    Bartek Mazur <br />Front-end Developer
  </h1>
  <h2 class="my-14 hidden text-2xl font-bold md:block">
    Write code. Ignite innovation. Create experiences.
  </h2>
  <img
    src="/assets/hero-img-new.png"
    alt="picture of Bartek Mazur"
    class="mt-5 hidden md:block"
    loading="lazy"
  />
  <img
    src="/assets/hero-img-mobile-new.png"
    alt="picture of Bartek Mazur"
    class="mt-5 md:hidden"
    loading="lazy"
  />
</section>
