---
---

<section class="">
  <div class="w mx-auto flex h-44 max-w-xl items-center justify-between">
    <img src="/assets/linkedin-icon.svg" alt="linkedin icon" class="p-5" />
    <img src="/assets/github-icon.svg" alt="github icon" class="p-5" />
    <img src="/assets/discord-icon.svg" alt="discord icon" class="p-5" />
  </div>
</section>
