---
---

<section class="">
  <div class="w mx-auto flex h-44 max-w-xl items-center justify-between">
    <a href="https://www.linkedin.com/in/bartek-mazur-a2382b278/">
      <img
        src="/assets/linkedin-icon.svg"
        alt="linkedin icon"
        class="cursor-pointer p-4"
        loading="lazy"
      />
    </a>
    <a href="https://github.com/mazurcodes">
      <img
        src="/assets/github-icon.svg"
        alt="github icon"
        class="cursor-pointer p-4"
        loading="lazy"
      />
    </a>
    <a href="https://discordapp.com/users/mazur.codes">
      <img
        src="/assets/discord-icon.svg"
        alt="discord icon"
        class="cursor-pointer p-4"
        loading="lazy"
      />
    </a>
  </div>
</section>
