<section class="bg-slate-50">
  <div
    class="mx-auto grid max-w-7xl justify-center gap-10 py-12 md:grid-cols-2 md:gap-28 md:px-10 md:py-36 lg:grid-cols-4 lg:grid-rows-2 lg:px-0 lg:py-56"
  >
    <div
      class="flex items-center justify-center md:row-span-2 lg:min-h-[560px]"
    >
      <h2
        class="text-5xl font-black text-slate-600 md:-rotate-90 md:text-[180px]"
      >
        Tech
      </h2>
    </div>
    <article
      class="max-w-[210px] text-center md:justify-self-center md:text-left"
    >
      <img
        src="/assets/react-tech-icon-100.svg"
        alt="react js logo"
        class="mx-auto md:m-0"
      />
      <h3 class="px-2 text-2xl font-bold">React <br />UI Library</h3>
      <p class="p-2 text-sm">
        Building user interfaces with its component-based architecture, allowing
        for the creation of reusable and modular UI components.
      </p>
    </article>
    <article
      class="max-w-[210px] text-center md:justify-self-center md:text-left"
    >
      <img
        src="/assets/nextjs-tech-icon-100.svg"
        alt="next js logo"
        class="mx-auto max-h-[100px] py-2 md:m-0"
      />
      <h3 class="text-2xl font-bold">
        Next.js
        <br />Framework
      </h3>
      <p class="text-sm">
        React metaframework used to build web applications. It provides benefits
        such as improved performance, automatic code splitting, and simplified
        routing
      </p>
    </article>
    <article
      class="max-w-[210px] text-center md:justify-self-center md:text-left"
    >
      <img
        src="/assets/tsjs-tech-icon.svg"
        alt="typescript and javascript logos"
        class="mx-auto max-h-[100px] py-2 md:m-0"
      />
      <h3 class="text-2xl font-bold">Typescript <br />Javascript</h3>
      <p class="text-sm">
        Building user interfaces with its component-based architecture, allowing
        for the creation of reusable and modular UI components.
      </p>
    </article>
    <article
      class="max-w-[210px] text-center md:justify-self-center md:text-left"
    >
      <img
        src="/assets/express-tech-icon-100.svg"
        alt="express js logo"
        class="mx-auto md:m-0"
      />
      <h3 class="text-2xl font-bold">
        Express.js
        <br />Backend
      </h3>
      <p class="text-sm">
        Building user interfaces with its component-based architecture, allowing
        for the creation of reusable and modular UI components.
      </p>
    </article>
    <article
      class="max-w-[210px] text-center md:justify-self-center md:text-left"
    >
      <img
        src="/assets/playwright-tech-icon.svg"
        alt="playwright logo"
        class="mx-auto md:m-0"
      />
      <h3 class="text-2xl font-bold">Playwright <br />E2E Testing</h3>
      <p class="text-sm">
        Building user interfaces with its component-based architecture, allowing
        for the creation of reusable and modular UI components.
      </p>
    </article>
    <article
      class="max-w-[210px] text-center md:justify-self-center md:text-left"
    >
      <img
        src="/assets/vitest-tech-icon.svg"
        alt="vitest logo"
        class="mx-auto md:m-0"
      />
      <h3 class="text-2xl font-bold">
        Vitest
        <br />Unit Testing
      </h3>
      <p class="text-sm">
        Building user interfaces with its component-based architecture, allowing
        for the creation of reusable and modular UI components.
      </p>
    </article>
  </div>
</section>
