---
---

<section class="work py-24">
  <div class="mx-auto max-w-7xl">
    <article
      class="flex flex-col gap-8 rounded-3xl shadow-article transition hover:scale-[1.005] hover:shadow-article-hover md:mx-8 md:p-14 xl:flex-row xl:p-24"
    >
      <div class="text-side flex-1">
        <h3 class="text-3xl font-bold">Ace your next UX job inteview</h3>
        <h2 class="py-6 text-7xl font-black">
          <span class="text-9xl text-orange-600"> Gifter</span><br />Meaningfull
          presents
        </h2>
        <p class="pb-14 pt-3">
          Whiteboard Challenges can be a source of great angst for many new or
          even experienced UX designers. But they don’t have to be. Get access
          to 10 solved exercises Guide Template Wireframe Library with +30
          components to help you ace them in your next UX Job Interview.
        </p>
        <a href="#" class="rounded-full bg-slate-600 px-6 py-3 text-white"
          >Any wishes?</a
        >
      </div>
      <div class="image-side flex-1">
        <img
          src="/assets/GifterImageSide.png"
          alt="Gifter app on mobile, tablet and desktop screens"
          class="w-full"
        />
      </div>
    </article>
  </div>
</section>
