---
import Header from '@components/header.astro';
import Hero from '@components/hero.astro';
import Tech from '@components/tech.astro';
import Work from '@components/work.astro';
import Social from '@components/social.astro';
import Contact from '@components/contact.astro';

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Front-end developer specializing in React, Next.js, TypeScript, Firebase, Tailwind CSS, and backend technologies like Express.js. Check out my portfolio projects and see the technologies I work with."
    />
    <meta
      name="keywords"
      content="front-end developer, React, Next.js, TypeScript, Firebase, Tailwind CSS, Express.js, MongoDB, portfolio projects"
    />
    <meta name="author" content="Bartek Mazur" />

    <!--    OG  -->
    <meta property="og:type" content="website" />
    <!--    The title of your content. You should not include your brand name or the domain.    -->
    <meta
      property="og:title"
      content="Front-End Developer | React, Next.js, TypeScript | Portfolio Projects"
    />
    <meta
      property="og:description"
      content="Front-end developer specializing in React, Next.js, TypeScript, Firebase, Tailwind CSS, and backend technologies like Express.js. Check out my portfolio projects and see the technologies I work with."
    />
    <!--    An image URL which should represent your content.   -->
    <!-- <meta
      property="og:image"
      content="https://cdn-images-1.medium.com/max/1600/0*LrRO23Qzo_Juma8N.jpeg"
    /> -->
    <meta property="og:url" content="https://mazur.codes/" />
    <meta property="og:locale" content="/" />
    <meta
      property="”og:site_name”"
      content="Bartek Mazur - Front-end developer"
    />
    <!--    A Facebook App ID that identifies your website to Facebook. You can analyze the traffic in Facebook. -->
    <!-- <meta property="fb:app_id" content="””/" /> -->
    <!------------------------------------>

    <!--    TWITTER     -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="https://mazur.codes" />
    <meta
      name="twitter:title"
      content="Front-End Developer | React, Next.js, TypeScript | Portfolio Projects"
    />
    <meta
      name="twitter:description"
      content="Front-end developer specializing in React, Next.js, TypeScript, Firebase, Tailwind CSS, and backend technologies like Express.js."
    />
    <!-- <meta
      name="twitter:image:src"
      content="https://cdn-images-1.medium.com/max/1600/0*LrRO23Qzo_Juma8N.jpeg"
    /> -->
    <meta name="twitter:creator" content="@_mazurbartek" />
    <!--------------------------------->

    <title>{title}</title>
  </head>
  <body class="font-body">
    <div class="wrapper-main">
      <Header />
      <Hero />
      <Tech />
      <Work />
      <Social />
      <Contact />
    </div>
  </body>
</html>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap');
  body {
    font-family: 'Montserrat';
  }
</style>

<!--    OG  -->
<!--    The type of your content, e.g., website, article, video.movie etc.  -->
<meta property="og:type" content="website" />
<!--    The title of your content. You should not include your brand name or the domain.    -->
<meta
  property="og:title"
  content="React HOC, Component Wrapping and Render Props page."
/>
<!--    A one to two sentence description of your content.  -->
<meta
  property="og:description"
  content="This page is an example of implementing Higher-Order Component pattern"
/>
<!--    An image URL which should represent your content.   -->
<meta
  property="og:image"
  content="https://cdn-images-1.medium.com/max/1600/0*LrRO23Qzo_Juma8N.jpeg"
/>
<!--    The canonical URL of your content.  -->
<meta
  property="”og:url”"
  content="”https://react-hoc-examples-7e2102.netlify.app”/"
/>
<!--    The locales this content is available in.   -->
<meta property="”og:locale”" content="””/" />
<!--    The web site name or brand name.    -->
<meta property="”og:site_name”" content="””/" />
<!--    A Facebook App ID that identifies your website to Facebook. You can analyze the traffic in Facebook. -->
<meta property="”fb:app_id”" content="””/" />
<!------------------------------------>

<!--    TWITTER     -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@Artem_Diashkin" />
<meta
  name="twitter:title"
  content="(Twitter) React HOC, Component Wrapping and Render Props page"
/>
<meta name="twitter:description" content="Twitter description" />
<meta
  name="twitter:image:src"
  content="https://cdn-images-1.medium.com/max/1600/0*LrRO23Qzo_Juma8N.jpeg"
/>
<meta name="twitter:creator" content="@Artem_Diashkin" />
<!--------------------------------->
