---
import type { Project } from '@types';
import Article from './Article.astro';

interface Props {
  data: { text: string; links: { name: string; link: string }[] };
}

const {
  data: { text, links },
} = Astro.props;
---

<section>
  <div
    class="mx-auto mt-[100px] max-w-[260px] md:max-w-[600px] lg:max-w-[800px]"
  >
    <Article header="Acknowledgements" title="Thank Yous" text={text} />
    <ul>
      {
        links.map(({ name, link }) => {
          return (
            <li class="ml-10 list-disc">
              <strong>{name}</strong> on{' '}
              <a href={link} target="_blank" class="underline">
                {link}
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</section>
