---
import type { Project } from '@types';
import Article from './Article.astro';

interface Props {
  data: { id: string; alt: string; path: string }[];
}

const { data } = Astro.props;
---

<section>
  <div
    class="mx-auto mt-[100px] max-w-[260px] md:max-w-[600px] lg:max-w-[800px]"
  >
    <Article header="Graphics" title="App views" />
    <div class="flex flex-wrap justify-between gap-[50px] pt-8">
      {
        data.map((image) => {
          return <img src={image.path} alt={image.alt} />;
        })
      }
    </div>
  </div>
</section>
