---
import type { Project } from '@types';
import Article from './Article.astro';

interface Props {
  data: {
    text: string;
    link: string;
  };
}

const { data } = Astro.props;

const { text, link } = data;
---

<section>
  <div
    class="mx-auto mt-[100px] max-w-[260px] md:max-w-[600px] lg:max-w-[800px]"
  >
    <Article header="Demo" title="Preview on Vercel" />
    <p class="py-8">
      {text}
    </p>
    <a href={link} target="_blank" class="underline">Link to website</a>
  </div>
</section>
