---
---

<header class="hidden h-28 items-center justify-center md:flex">
  <nav class="rounded-full border px-5 py-2 shadow-lg">
    <ul class="flex space-x-4">
      <li>
        <a href="/" class="block rounded-full px-6 py-4 hover:bg-slate-50"
          >Home</a
        >
      </li>
      <li>
        <a
          href="#Description"
          class="block rounded-full px-6 py-4 hover:bg-slate-50">About</a
        >
      </li>
      <li>
        <a href="#Tech" class="block rounded-full px-6 py-4 hover:bg-slate-50"
          >Technology</a
        >
      </li>
      <li>
        <a
          href="#Graphics"
          class="block rounded-full px-6 py-4 hover:bg-slate-50">Design</a
        >
      </li>
      <li>
        <a
          href="#Contact"
          class="block rounded-full px-6 py-4 hover:bg-slate-50">Contact</a
        >
      </li>
    </ul>
  </nav>
</header>
