---
interface Props {
  data: {
    alt: string;
    path: string;
  };
}

const {
  data: { alt, path },
} = Astro.props;
---

<section>
  <div class="mx-auto max-w-[260px] md:max-w-[600px] lg:max-w-[800px]">
    <img src={path} alt={alt} class="mt-[50px]" loading="lazy" />
  </div>
</section>
