<section>
  <div class="h mx-auto grid h-48 max-w-[260px] md:max-w-[600px] lg:max-w-[800px]place-items-center">
    <h2 class="text-2xl font-bold">
      mazur<span class="text-5xl text-[#FCC72B]">.</span>codes
    </h2>
  </div>
</section>
