---
import type { Project } from '@types';
import Article from './article.astro';

interface Props {
  data: Project;
}

const { data } = Astro.props;
---

<section>
  <div class="mx-auto mt-[100px] max-w-[800px]">
    <Article header="Tasks" title="Agile Board on Trello" />
    <p class="py-8">
      {data.agile.text}
    </p>
    <a href={data.agile.link} target="_blank" class="underline"
      >Link to Trello</a
    >
    <img src="/assets/dummyImgSmall.png" alt="" class="mt-10" />
  </div>
</section>
