---
import type { Project } from '@types';
import Article from './Article.astro';

interface Props {
  data: {
    agile: {
      text: string;
      link: string;
    };
    image: { alt: string; path: string };
  };
}

const { data } = Astro.props;

const {
  agile: { text, link },
  image: { alt, path },
} = data;
---

<section>
  <div
    class="mx-auto mt-[100px] max-w-[260px] md:max-w-[600px] lg:max-w-[800px]"
  >
    <Article header="Tasks" title="Agile Board on Trello" />
    <p class="py-8">
      {text}
    </p>
    <a href={link} target="_blank" class="underline">Link to Trello</a>
    <img src={path} alt={alt} class="mt-10" loading="lazy" />
  </div>
</section>
